*.csv
*.pdf
*.xml
*.jpg
*.sav
*.bbl
*.log
*.toc
*.xls
*.xlsx
*.txt
*.png
*.pickle
best_param*
/.ipynb_checkpoints
/__pycache__
/adult_pickles
/archive.ics.uci.edu
/car_pickles
/cardiotography_pickles
/compas_pickles
/credit_pickles
/german_pickles
/lending_pickles
/MakeModel2016
/nursery_pickles
/data_source_files
/forest_surveyor/__pycache__
/5.2
